.outer{
    background-color: rgb(19, 15, 139);
width: 500px;
height: 500px;
position: relative;

}


.inner{
    z-index: 1;
background-color: rgb(31, 220, 94);
width: 100px;
height: 100px;
position: absolute;
margin-top: 20px;
}

